/*Beginning of style in general*/
*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body{
    font-size: 18px;
}

img {
    width: 180px;
}
ul { 
    display: flex;
}

body {
    background-image: radial-gradient(antiquewhite, #B03F3F, #1E0000);
}

.container {
    display: flex;
    align-items: center;
}

/*End of style in general/

/*header style start*/

#header-menu {
    width: 50%;
    align-items: center;
}

#header-menu a {
    color: white;
}

#header-menu a:hover {
    font-size: 1.5em;
    color: dodgerblue;
    border-bottom: 2px solid darkblue;
}

/*end of header style*/

/*About me section style start*/
main {
    display: flex;
    width: 100%;
}

#about-me, #skill{
    width: 50%;
}

/*End of the about me section style*/

/*Start of projects section style*/


.projects{
    background-color: antiquewhite;
    width: 900px;
    height: 150px;
    margin-top: 20px;
}
/*End of projects section style*/

/*Start of contacts section style*/


#form-contact {
    background-color: antiquewhite;
    width: 20%;
}
/*End of contacts section style*/

/*Footer style start*/
footer{
    display: flex;
}
/*End of footer style*/
