/*Beginning of style in general*/
*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    max-width: 1280px;
    background-image: radial-gradient(antiquewhite, #B03F3F, #1E0000);
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 18px;
    color: black;
    margin: 0 auto;
    padding: 0 10px;
}

.title-edition{
    text-align: center;
    color: whitesmoke;
    text-shadow: 0px 0px 20px black;
}
.text-edition{
    text-align: justify;
    color: whitesmoke;
    text-shadow: 0px 0px 20px black;
}
.shadow-container{
    box-shadow: 0 0 10px 2px black;
    border-radius: 10px;
}

/*End of style in general/

/*header style start*/
header{
    max-width: 100%;
    height: 200px;
}
h1{
    display: none;
}

#talk-me{
    display: flex;
    justify-content: end;
    height: 40px;
    margin-right: 15px;
}
.logo-contact{
    width: 40px;
    margin: 0px 5px;
}
.logo-contact img {
    width: 30px;
}
.logo-contact img:hover{
    width: 35px;
    border: 2px solid lightgrey;
    border-radius: 50%;
    transition: all 1s;
}

#menu{
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 40px;
}

.list-menu{
    font-size: 20px;
    color: white;
}

.list-menu:hover{
    font-size: 22px;
    color: skyblue;
    text-decoration: 4px solid darkblue underline;
    transition: all 1s;
}

#logo img{
    width: 120px;
}
#logo img:hover{
    background-image: linear-gradient(white, darkblue);
    width: 125px;
    border-radius: 50%;
    margin-top: 5px;
    transition: all 1s;
}

/*end of header style*/

/*About me section style start*/
main{
    width: 100%;
    display: flex;
}
#about{
    width: 50%;
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 10px 20px;
}
#about img{
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border: 3px solid rgb(0, 0, 80);
    border-radius: 50%;
}

#skill{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}
#list-skills{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
#list-skills img{
    width: 90px;
    height: 90px;
    background-image: radial-gradient(whitesmoke, lightgray);
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
}

/*End of the about me section style*/

/*Start of projects section style*/
#project, #challenge {
    width: 100%;
    margin-top: 20px;
    padding: 10px 5px;
}

#project>a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 0 auto;
    color: whitesmoke;
    text-shadow: 0px 0px 2px black;
    font-size: 20px;

}
#project>a:hover {
    color: skyblue;
    font-size: 24px;
    font-weight: bolder;
    transition: all 1s;
}

#card-container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
}
.card{
    width: 22%;
    height: 350px;
    background-image: linear-gradient(white, lightcoral, darkred);
    display: flex;
    flex-direction: column;
}
.card img{
    width: 100%;
    height: 150px;
}
#card-container p, a{
    padding-left: 20px;
}
#card-container a {
    height: 30px;
}
.card a:hover{
    font-size: 20px;
    color: skyblue;
    transition: all 1s;
}

/*End of projects section style*/

/*Start of contacts section style*/
#contact{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
    padding: 30px;
}

#contact div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.list-social{
    width: 150px;
    height: 120px;
    margin: 50px 0;
}
.list-social img{
    width: 100px;
}
.list-social img:hover{
    width: 110px;
    border: 2px solid lightgrey;
    border-radius: 50%;
    transition: all 1s;
}

#email-form {
    width: 50%;
    height: 700px;
}

fieldset{
    border: 1px solid snow;
    border-radius: 10px;
    padding: 20px;
}
label{
    cursor: pointer;
}
input{
    width: 85%;
    margin: 10px auto;
    padding: 5px 0 5px 5px;
    height: 30px;
    border: 2px solid darkred;
    border-radius: 5px;
}
textarea{
    width: 95%;
    margin: 10px auto;
    padding-left: 5px;
    border: 2px solid darkred;
    border-radius: 5px;
}

input:active, textarea:active{
    border: 2px solid darkblue;
}

#email-form button{
    width: 145px;
    height: 50px;
    cursor: pointer;
    background: radial-gradient(darkred,red);
    box-shadow: 0 0 5px 1px black inset;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 85px;
}
#email-form button:hover{
    background: radial-gradient(red,darkred);
    color: black;
    font-size: 18px;
    transition: all 1s;
}
/*End of contacts section style*/

/*Footer style start*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 160px;
    padding: 5px 0;
    margin: 15px auto;
}
footer ul{
    display: flex;
}
.space-list{
    width: 155px;
    height: 25px;
    margin: 5px;
    font-size: 14px;
}
.space-list a:hover{
    color: skyblue;
    text-decoration: 4px solid darkblue underline;
    font-size: 16px;
    transition: all 1s;
}

footer p {
    font-size: 14px;
}
/*End of footer style*/

/**/
#page-project{
    flex-direction: column;
}
/**/
